@font-face {
    font-family: 'HanHei-SC-semibold';
    src: url('../font/HanHei-SC-semibold.woff') format('woff');
}
@font-face {
    font-family: 'HanHei-SC-text';
    src: url('../font/HanHei-SC-text.woff') format('woff');
}
@font-face {
    font-family: 'HanHei-SC-thin';
    src: url('../font/HanHei-SC-thin.woff') format('woff');
}
@font-face {
    font-family: 'icomoon';
    src: url('../font/icomoon.eot?jbc1kh');
    src: url('../font/icomoon.eot?jbc1kh#iefix') format('embedded-opentype'), url('../font/icomoon.ttf?jbc1kh') format('truetype'), url('../font/icomoon.woff?jbc1kh') format('woff'), url('../font/icomoon.svg?jbc1kh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 100px;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#iconfont{
   line-height:3.6rem;
}
[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 100px;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-chart:before {
    content: "\e93e";
}
.icon-more:before {
    content: "\e93d";
}
.icon-farm:before {
    content: "\e93c";
}
.icon-close:before {
    content: "\e93b";
}
.icon-logo .path1:before {
    content: "\e90b";
    color: #ffffff;
}
.icon-logo .path2:before {
    content: "\e90c";
    margin-left: -4.01367187em;
    color: #ffffff;
}
.icon-logo .path3:before {
    content: "\e90d";
    margin-left: -4.01367187em;
    color: #ffffff;
}
.icon-logo .path4:before {
    content: "\e90e";
    margin-left: -4.01367187em;
    color: #ffffff;
}
.icon-logo .path5:before {
    content: "\e90f";
    margin-left: -4.01367187em;
    color: #ffffff;
}
.icon-logo .path6:before {
    content: "\e910";
    margin-left: -4.01367187em;
    color: #ffffff;
}
.icon-logo .path7:before {
    content: "\e911";
    margin-left: -4.01367187em;
    color: #ffffff;
}
.icon-logo .path8:before {
    content: "\e912";
    margin-left: -4.01367187em;
    color: #ffffff;
}
.icon-logo .path9:before {
    content: "\e913";
    margin-left: -4.01367187em;
    color: #ffffff;
}
.icon-logo .path10:before {
    content: "\e914";
    margin-left: -4.01367187em;
    color: #ffffff;
}
.icon-logo .path11:before {
    content: "\e915";
    margin-left: -4.01367187em;
    color: #ffffff;
}
.icon-logo .path12:before {
    content: "\e916";
    margin-left: -4.01367187em;
    color: #ffffff;
}
.icon-logo .path13:before {
    content: "\e917";
    margin-left: -4.01367187em;
    color: #ffffff;
}
.icon-logo .path14:before {
    content: "\e918";
    margin-left: -4.01367187em;
    color: #ffffff;
}
.icon-logo .path15:before {
    content: "\e919";
    margin-left: -4.01367187em;
    color: #ffffff;
}
.icon-logo .path16:before {
    content: "\e91a";
    margin-left: -4.01367187em;
    color: #ffffff;
}
.icon-logo .path17:before {
    content: "\e91b";
    margin-left: -4.01367187em;
    color: #ffffff;
}
.icon-logo .path18:before {
    content: "\e91c";
    margin-left: -4.01367187em;
    color: #ffffff;
}
.icon-logo .path19:before {
    content: "\e91d";
    margin-left: -4.01367187em;
    color: #ffffff;
}
.icon-logo .path20:before {
    content: "\e91e";
    margin-left: -4.01367187em;
    color: #ffffff;
}
.icon-logo .path21:before {
    content: "\e91f";
    margin-left: -4.01367187em;
    color: #f5ab15;
}
.icon-logo .path22:before {
    content: "\e920";
    margin-left: -4.01367187em;
    color: #f5ab15;
}
.icon-logo .path23:before {
    content: "\e921";
    margin-left: -4.01367187em;
    color: #3db04f;
}
.icon-logo .path24:before {
    content: "\e922";
    margin-left: -4.01367187em;
    color: #4977bc;
}
.icon-logos .path1:before {
    content: "\e90b";
    color: #4878bc;
}
.icon-logos .path2:before {
    content: "\e90c";
    margin-left: -4.01367187em;
    color: #4878bc;
}
.icon-logos .path3:before {
    content: "\e90d";
    margin-left: -4.01367187em;
    color: #4878bc;
}
.icon-logos .path4:before {
    content: "\e90e";
    margin-left: -4.01367187em;
    color: #4878bc;
}
.icon-logos .path5:before {
    content: "\e90f";
    margin-left: -4.01367187em;
    color: #4878bc;
}
.icon-logos .path6:before {
    content: "\e910";
    margin-left: -4.01367187em;
    color: #4878bc;
}
.icon-logos .path7:before {
    content: "\e911";
    margin-left: -4.01367187em;
    color: #4878bc;
}
.icon-logos .path8:before {
    content: "\e912";
    margin-left: -4.01367187em;
    color: #4878bc;
}
.icon-logos .path9:before {
    content: "\e913";
    margin-left: -4.01367187em;
    color: #4878bc;
}
.icon-logos .path10:before {
    content: "\e914";
    margin-left: -4.01367187em;
    color: #4878bc;
}
.icon-logos .path11:before {
    content: "\e915";
    margin-left: -4.01367187em;
    color: #4878bc;
}
.icon-logos .path12:before {
    content: "\e916";
    margin-left: -4.01367187em;
    color: #4878bc;
}
.icon-logos .path13:before {
    content: "\e917";
    margin-left: -4.01367187em;
    color: #4878bc;
}
.icon-logos .path14:before {
    content: "\e918";
    margin-left: -4.01367187em;
    color: #4878bc;
}
.icon-logos .path15:before {
    content: "\e919";
    margin-left: -4.01367187em;
    color: #4878bc;
}
.icon-logos .path16:before {
    content: "\e91a";
    margin-left: -4.01367187em;
    color: #4878bc;
}
.icon-logos .path17:before {
    content: "\e91b";
    margin-left: -4.01367187em;
    color: #4878bc;
}
.icon-logos .path18:before {
    content: "\e91c";
    margin-left: -4.01367187em;
    color: #4878bc;
}
.icon-logos .path19:before {
    content: "\e91d";
    margin-left: -4.01367187em;
    color: #4878bc;
}
.icon-logos .path20:before {
    content: "\e91e";
    margin-left: -4.01367187em;
    color: #4878bc;
}
.icon-logos .path21:before {
    content: "\e91f";
    margin-left: -4.01367187em;
    color: #f5ab15;
}
.icon-logos .path22:before {
    content: "\e920";
    margin-left: -4.01367187em;
    color: #f5ab15;
}
.icon-logos .path23:before {
    content: "\e921";
    margin-left: -4.01367187em;
    color: #3db04f;
}
.icon-logos .path24:before {
    content: "\e922";
    margin-left: -4.01367187em;
    color: #4977bc;
}
.icon-android:before {
    content: "\e900";
}
.icon-apple:before {
    content: "\e901";
}
.icon-appstore:before {
    content: "\e902";
}
.icon-arrowleft:before {
    content: "\e903";
}
.icon-arrowright:before {
    content: "\e904";
}
.icon-caigou:before {
    content: "\e905";
}
.icon-contrast:before {
    content: "\e906";
}
.icon-erp:before {
    content: "\e907";
}
.icon-fillet:before {
    content: "\e908";
}
.icon-jiankong:before {
    content: "\e909";
}
.icon-jiaoyi:before {
    content: "\e90a";
}
.icon-menu:before {
    content: "\e923";
}
.icon-mobile:before {
    content: "\e924";
}
.icon-record:before {
    content: "\e925";
}
.icon-s-cg .path1:before {
    content: "\e926";
    color: #272636;
    opacity: 0.0300;
}
.icon-s-cg .path2:before {
    content: "\e927";
    margin-left: -1em;
    color: #edcb86;
}
.icon-s-ncz .path1:before {
    content: "\e928";
    color: #272636;
    opacity: 0.0300;
}
.icon-s-ncz .path2:before {
    content: "\e929";
    margin-left: -1em;
    color: #272636;
    opacity: 0.0300;
}
.icon-s-ncz .path3:before {
    content: "\e92a";
    margin-left: -1em;
    color: #272636;
    opacity: 0.0300;
}
.icon-s-ncz .path4:before {
    content: "\e92b";
    margin-left: -1em;
    color: #272636;
    opacity: 0.0300;
}
.icon-s-ncz .path5:before {
    content: "\e92c";
    margin-left: -1em;
    color: #272636;
    opacity: 0.0300;
}
.icon-s-ncz .path6:before {
    content: "\e92d";
    margin-left: -1em;
    color: #272636;
    opacity: 0.0300;
}
.icon-s-ncz .path7:before {
    content: "\e92e";
    margin-left: -1em;
    color: #c1b8a6;
}
.icon-s-nz .path1:before {
    content: "\e92f";
    color: #272636;
    opacity: 0.0300;
}
.icon-s-nz .path2:before {
    content: "\e930";
    margin-left: -1em;
    color: #272636;
    opacity: 0.0300;
}
.icon-s-nz .path3:before {
    content: "\e931";
    margin-left: -1em;
    color: #272636;
    opacity: 0.0300;
}
.icon-s-nz .path4:before {
    content: "\e932";
    margin-left: -1em;
    color: #adc6de;
}
.icon-search:before {
    content: "\e933";
}
.icon-shebei:before {
    content: "\e934";
}
.icon-taskarra:before {
    content: "\e935";
}
.icon-trace:before {
    content: "\e936";
}
.icon-weather:before {
    content: "\e937";
}
.icon-wechat:before {
    content: "\e938";
}
.icon-yun:before {
    content: "\e939";
}
.icon-zhongzhi:before {
    content: "\e93a";
}


.intro h1 {
  margin-bottom: 0.5em;
  line-height: 1;
  font-weight: 100;
}
#CrossFade {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 60vh;
  overflow: hidden;
  position: relative;
  /*max-width: 55rem;*/
  margin: 0 auto;
}
#CrossFade img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  background: #000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(1.4) rotate(12deg);
          transform: scale(1.4) rotate(12deg);
  -webkit-animation: CrossFade 24s infinite;
          animation: CrossFade 24s infinite;
}
#CrossFade img:nth-child(3) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
#CrossFade img:nth-child(2) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}
#CrossFade img:nth-child(1) {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}
/* 

$duration = 12
$slides = 4
$step = $duration/$slides
setDelayRevers($duration, $slides)
  
  for index in (2..$slides)
    &:nth-child({index -1}) 
      animation-delay ($step*index)s

#CrossFade
  height 100vh
  overflow hidden
  position relative
  
  display flex
  img
    align-self center
    position absolute
    
    min-width 100%
    min-height 100%
    height auto
    
    backface-visibility hidden
    opacity 0
  
    transform scale(1.4) rotate(12deg)
    animation CrossFade ($duration)s infinite 
    setDelayRevers($duration, $slides)   
@keyframes CrossFade
  25%
    opacity 1
    transform scale(1) rotate(0)
  40%
    opacity 0
    
*/
@-webkit-keyframes CrossFade {
  25% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}
@keyframes CrossFade {
  25% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
};
}


/*  Ò³Ãæ css */
.ticket1 {
  display: inline-block;
  width: 400px;
  padding: 15px;
  position: relative;
  top: 0;
  z-index: 1;
  -webkit-transform: rotate(5deg) scale(0.95);
          transform: rotate(5deg) scale(0.95);
  -webkit-transition: top 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: top 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, top 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, top 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.ticket1:before, .ticket1:after {
  content: "";
  display: block;
  position: absolute;
}
.ticket1:before {
  border-radius: 6px;
  left: 6px;
  right: 12px;
  top: 30px;
  bottom: 0;
  -webkit-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
}
.ticket1:after {
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ticket1:hover {
  -webkit-transform: rotate(1deg) scale(1.1);
          transform: rotate(1deg) scale(1.1);
  top: -12px;
  z-index: 2;
}
.ticket1:hover:before {
  box-shadow: 0 24px 15px rgba(55, 55, 55, 0.1), 0 9px 15px rgba(55, 55, 55, 0.2);
}

.ticket1__inner {
  padding: 90px 30px 33px;
  border: 2px solid #003A5F;
  border-top: none;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.ticket1__inner:before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  margin-left: -52px;
  border-radius: 50%;
  border: 2px solid #003A5F;
  position: absolute;
  z-index: 1;
  top: -50px;
  left: 50%;
}

.ticket1__border:before, .ticket1__border:after {
  content: "";
  display: block;
  height: 2px;
  background: #003A5F;
  position: absolute;
  z-index: 1;
  top: 0;
}
.ticket1__border:before {
  margin-right: 50px;
  left: 0;
  right: 50%;
}
.ticket1__border:after {
  margin-left: 50px;
  right: 0;
  left: 50%;
}

.ticket1__title {
  font-family: "Mukta", sans-serif;
  font-size: 39px;
  text-transform: uppercase;
  line-height: 1;
  color: #30C844;
  margin: 0 0 18px;
}
.ticket1__title strong {
  font-family: "Dancing Script", script;
  font-size: 125%;
  color: #003A5F;
  text-transform: none;
  display: block;
  margin-top: -3px;
}

.ticket1__text {
  font-size: 18px;
  line-height: 1.4;
}
